* {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #fdc526;
}

#bar {
    background-color: #7a3041;
    color: #fdc526;
}

.fa.fa-navicon {
    color: #fdc526;
    margin-top: 5px;
    width: 30px;
    vertical-align: middle;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index: 99;
}

#map {
    width: 100%;
    margin: 0;
    z-index: 1;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#footer {
    position: fixed;
    bottom: 5px;
    z-index: 100;
}

#logo {
    width: 90px;
    height: auto;
    margin-left: 10px;
}